/* .detail-paciente{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
.detail-paciente a{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    width: 20px;
    height: 30px;
    margin-left: 650px;
    text-decoration: none;
color: rgb(0, 0, 0);
    
}
.detail-paciente a:hover{
   background-color: rgb(217, 155, 155);
    
}
.card-detalle-paciente {
    background-color: rgb(233, 233, 248);
    border: 1px solid #ccc;
   text-align: center;
    padding: 20px;
    border-radius: 5px;
  }
.detalle-nombre{
    border: 1px solid rgb(197, 193, 193);
    border-radius: 8px;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 200px;
}
   */
 /* .detalle-paciente-id{
    border: 1px solid rgb(197, 193, 193);
    border-radius: 8px;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 15px;
    gap: 250px;
    
 } */
 /* .detalle-paciente-id {
    border: 1px solid rgb(197, 193, 193);
    border-radius: 8px;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 15px;
    gap: 250px;
    align-items: center;
  }
  
  
  
 .detalle-paciente-proce{
    border: 1px solid rgb(197, 193, 193);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 15px;
    gap: 250px;
    align-items: center;
  
 } */
 .card-detalle-paciente {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .detail-paciente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .button-cerrar-x{
    text-decoration: none;
    border-radius: 8px;
    height: 25px;
    width: 25px;
    margin-top: 15px;
    margin-right: 25px;
    background-color: rgb(130, 130, 236);;
    color: rgb(13, 15, 16);
    font-size: 18px;
    text-align: center; /* Alinea el texto en el centro */
  padding: 4px 4px 4px 0; /* Añade una separación alrededor del texto */
  line-height: 1.3;
    
}
.button-cerrar-x:hover{
   background-color: rgb(90, 168, 246);
   border: 1px solid black;
}
  
  .detalle-nombre{
    border:1px solid #cfcccc;
    border-radius: 8px;
    background-color: #eee8e8;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .detalle-paciente-id{
    border:1px solid #cfcccc;
    background-color: #eee8e8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .detalle-paciente-proce {
    border:1px solid #cfcccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #eee8e8;
  }
  
  .detalle-paciente-id,
  .detalle-paciente-proce {
    margin-top: 10px;
  }
  
  .detalle-nombre span,
  .detalle-paciente-id p,
  .detalle-paciente-proce p {
    flex: 1;
  }
  
  .detalle-nombre span:not(:last-child),
  .detalle-paciente-id p:not(:last-child),
  .detalle-paciente-proce p:not(:last-child) {
    margin-right: 10px;
  }
  