
.crear-cirujano-form {
    border: 1px solid rgba(43, 42, 42, 0.205);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
  }
  
  .crear-cirujano-form label {
    margin-bottom: 5px;
    margin: 10px 15px 20px 10px;
    font-weight: bold;
  }
  
  .crear-cirujano-form input {
    padding: 8px;
    margin: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  


  .button-form-cx {
   
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    margin-left: 25px;
    gap: 10px;
  }
  
  .button-form-cx button {
    
    height: 33px;
    width: 75px;
    background-color: blue;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    
  }
  
  .button-form-cx button:hover {
    background-color: rgb(42, 31, 255);
  }
  
  .button-form-cx a {
    text-decoration: none;
    width: 50px;
    border-radius: 8px;
    height: 15px;
    padding: 8px;
    background-color: blue;
    border: 1px solid rgba(0, 0, 255, 0.618);
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 10px;
  }
  
  .button-form-cx a:hover {
    background-color: rgb(17, 47, 239);
  }