body {
  margin: 0;
  padding: 0;
}

.navegacion {
  /* background-color: rgb(187, 181, 181); */
  margin: 0;
  padding: 0;
}
.menu {
  margin: 15px;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.vista-section {
  display: flex;
  flex-direction: row;
}

.opciones {
  border: 1px solid rgb(125, 120, 120);
  background-color: #9faebe;
  border-radius: 5px;
  width: 95%;
  height: auto;
}

.espacio {
  /* border: 1px solid red; */
  margin: 10px;
  padding: 15px;
  font-size: 30px;
}
.espacio ul{
  border: 1px solid rgba(43, 42, 42, 0.205);
  border-radius: 10px;
}

.button-link {
  display: block;
  margin:15px;
  width: 150px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.button-link:hover {
  background-color: #0056b3;
}

.opciones ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.opciones li {
  margin-bottom: 5px;
}
.opciones li a{
  text-decoration: none;
}
